@font-face {
    font-family: 'athiti bold';
    src: url('../fonts/athiti-bold-webfont.woff2') format('woff2'),
         url('../fonts/athiti-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'athiti regular';
    src: url('../fonts/athiti-regular-webfont.woff2') format('woff2'),
         url('../fonts/athiti-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jost italic';
    src: url('../fonts/jost-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/jost-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jost regular';
    src: url('../fonts/jost-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/jost-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat bold';
    src: url('../fonts/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat regular';
    src: url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --site-main-color: #1992d4ff;
    --site-primary-color: #ffffffff;
    --site-secondary-color: #e2e8f0ff;
    --site-accent-color: #f0b429ff;
    --site-main-darker: rgb(16, 101, 146);
}

body {
    margin: 0;
    height: 100vh;
    font-size: 16px;
    font-family: 'monsterrat regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* trim */
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: clamp(180px, 20%, 200px) 4fr;
}

/* The sidebar */
.sidebar {
    grid-column: 1/2;
    grid-row: 1/span 2;
    gap: 5px;
    padding: 10px;
    background-color: var(--site-main-color);
    color: var(--site-primary-color);
    font-weight: bold;
    display: grid;
    align-items: stretch;
}

.navigation {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr) 1fr;
    gap: 25px;
}


[class*="-section"] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.dashboard {
    grid-row: 1/2;
}

.user-dashboard-nav {
    grid-row: 2/3;
}

.dashboard,
.user-dashboard-nav {
    align-self: center;
}

.site-controls-nav {
    grid-row: 3/4;
}

/* The sidebar logos */
[class*="-logo-svg"] {
    height: 20px;
    width: auto;
}

[class*="-logo-svg"] path {
    filter: var(--site-primary-color) !important;
}

/* The header */
.header {
    grid-column: 2/3;
    background-color: var(--site-primary-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;
    position: sticky;
}

/* Header row 1 */
.user-quick-controls {
    padding: 0 10px;
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.header-user-quick-controls-left {
    grid-column: 1/2;
}

form {
    display: flex;
    box-sizing: border-box;
    gap: 5px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > input {
    width: 80%;
    height: 20px;
    background-color: var(--site-secondary-color);
    border: none;
    border-radius: 10px;
}

form > input:focus-within {
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--site-primary-color);
    background-color: rgb(177, 177, 177);
}

.header-user-quick-controls-right {
    grid-column: 2/3;
    gap: 5px;
    justify-self: end;
    display: flex;
    align-items: center;
}

.search-label-svg {
    height: 16px;
    width: auto;
}

.notifications {
    display: flex;
}

.notifications-svg {
    height: 16px;
}

.user-photo {
    display: flex;
}

.user-photo > img {
    width: 16px;
    height: auto;
}

a {
    text-decoration: none;
    display: flex;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Header row 2 */
.user-dashboard-controls {
    padding: 0 10px 10px;
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.user-identity {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-photo-large > img {
    width: 50px;
    height: auto;
}

.user-info {
    font-weight: bold;
}

.greeting {
    font-size: 10px;
}

.dash-content-controls {
    grid-column: 2/3;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

[class*="-button"] {
    background-color: var(--site-main-color);
    color: var(--site-primary-color);
    font-size: -1rem;
    font-weight: bold;
    width: 70px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

[class*="-button"]:hover {
    background-color: var(--site-main-darker);
}

/* The main content */
.main-content {
    grid-column: 2/3;
    gap: 10px;
    background-color: var(--site-secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    font-family: 'jost regular', Arial, Helvetica, sans-serif;
}

.project-name,
.announcement-name {
    font-weight: bold;
}

/* Main content left */
.projects-label {
    grid-row: 1/2;
    font-weight: bold;
    justify-self: start;
}

.user-projects {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 25px 1fr;
    margin: 0 10px;
}

.the-projects {
    grid-column: 1/2;
    display: grid;
    gap: clamp(10px, 2%, 50px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
}

.project {
    text-align: start;
    border: none;
    border-radius: 15px;
    background-color: var(--site-primary-color);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: grid;
    gap: 5px;
    grid-template-columns: 10px 1fr;
    box-sizing: border-box;
}

.leftbar {
    background-color: var(--site-accent-color);
}

.rightbar {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin: 50px 10px;
}

.rightbar:hover::after {
    content: ".";
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 80px;
    height: auto;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Ctitle%3Estar-plus-outline%3C/title%3E%3Cpath d="M5.8 21L7.4 14L2 9.2L9.2 8.6L12 2L14.8 8.6L22 9.2L18.8 12H18C17.3 12 16.6 12.1 15.9 12.4L18.1 10.5L13.7 10.1L12 6.1L10.3 10.1L5.9 10.5L9.2 13.4L8.2 17.7L12 15.4L12.5 15.7C12.3 16.2 12.1 16.8 12.1 17.3L5.8 21M17 14V17H14V19H17V22H19V19H22V17H19V14H17Z"%3E%3C/path%3E%3C/svg%3E'),
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Ctitle%3Eeye-plus-outline%3C/title%3E%3Cpath d="M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C12.36,19.5 12.72,19.5 13.08,19.45C13.03,19.13 13,18.82 13,18.5C13,18.14 13.04,17.78 13.1,17.42C12.74,17.46 12.37,17.5 12,17.5C8.24,17.5 4.83,15.36 3.18,12C4.83,8.64 8.24,6.5 12,6.5C15.76,6.5 19.17,8.64 20.82,12C20.7,12.24 20.56,12.45 20.43,12.68C21.09,12.84 21.72,13.11 22.29,13.5C22.56,13 22.8,12.5 23,12C21.27,7.61 17,4.5 12,4.5M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M18,14.5V17.5H15V19.5H18V22.5H20V19.5H23V17.5H20V14.5H18Z"%3E%3C/path%3E%3C/svg%3E'),
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Ctitle%3Eshare-variant-outline%3C/title%3E%3Cpath d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z"%3E%3C/path%3E%3C/svg%3E');
    /* background-size: 50px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%, 50% 0%, 100% 0%;
    transition: opacity 0.3s ease;
    opacity: 1;
}

/* Main content right (sidebar) */
.main-content-sidebar {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 0 10px 0 0;
}

/* Announcements */
.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
}

.announcements-label {
    grid-row: 1/2;
    font-weight: bold;
}

.the-announcements {
    grid-row: 2/3;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--site-primary-color);
}

/* Trending community projects */
.trending {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
}

.trending-user-avatar-svg {
    width: 30px;
    height: auto;
}

.trending-user-name {
    font-weight: normal;
}

.trends-label {
    grid-row: 1/2;
    font-weight: bold;
}

.the-trends {
    grid-row: 2/3;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--site-primary-color);
}

.trend {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.trend-text > p {
    margin: 5px;
}

.the-announcements,
.the-trends {
    padding: 20px;
}