@font-face {
    font-family: 'athiti bold';
    src: url('../fonts/athiti-bold-webfont.woff2') format('woff2'),
         url('../fonts/athiti-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'athiti regular';
    src: url('../fonts/athiti-regular-webfont.woff2') format('woff2'),
         url('../fonts/athiti-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jost italic';
    src: url('../fonts/jost-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/jost-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jost regular';
    src: url('../fonts/jost-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/jost-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat bold';
    src: url('../fonts/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat regular';
    src: url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --site-main-color: #1992d4ff;
    --site-primary-color: #ffffffff;
    --site-secondary-color: #e2e8f0ff;
    --site-accent-color: #f0b429ff;
    --site-main-darker: rgb(16, 101, 146);
}

body {
    margin: 0;
    height: 100vh;
    font-size: 16px;
    font-family: 'monsterrat regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: clamp(180px, 20%, 200px) 4fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/span 2;
    gap: 5px;
    padding: 10px;
    background-color: var(--site-main-color);
    color: var(--site-primary-color);
    font-weight: bold;
    display: grid;
    grid-template-columns: 25px 2fr;
    align-items: stretch;
}

.sidebar-logos {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr) 1fr;
    gap: 25px;
}

.sidebar-row-1 {
    grid-row: 1/2;
}

.sidebar-row-2 {
    grid-row: 2/3;
}

.sidebar-row-1,
.sidebar-row-2 {
    align-self: center;
}

.sidebar-row-3 {
    grid-row: 3/4;
}

.navigation {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr) 1fr;
    gap: 25px;
}

.dashboard {
    grid-row: 1/2;
}

.user-dashboard-nav {
    grid-row: 2/3;
}

.dashboard,
.user-dashboard-nav {
    align-self: center;
}

.site-controls-nav {
    grid-row: 3/4;
}

[class*="-logo-svg"] {
    height: 16px;
    width: auto;
}

[class*="-logo-svg"] path {
    filter: var(--site-primary-color) !important;
}

.header {
    grid-column: 2/3;
    background-color: var(--site-primary-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;
    position: sticky;
}

.user-quick-controls {
    padding: 0 10px;
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.header-user-quick-controls-left {
    grid-column: 1/2;
}

form {
    display: flex;
    box-sizing: border-box;
    gap: 5px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > input {
    width: 80%;
    height: 20px;
    background-color: var(--site-secondary-color);
    border: none;
    border-radius: 10px;
}

form > input:focus-within {
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--site-primary-color);
    background-color: rgb(177, 177, 177);
}

.header-user-quick-controls-right {
    grid-column: 2/3;
    gap: 5px;
    justify-self: end;
    display: flex;
    align-items: center;
}

.search-label-svg {
    height: 16px;
    width: auto;
}

.notifications {
    display: flex;
}

.notifications-svg {
    height: 16px;
}

.user-photo {
    display: flex;
}

.user-photo > img {
    width: 16px;
    height: auto;
}

a {
    text-decoration: none;
    display: flex;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

[class*="-button"] {
    background-color: var(--site-main-color);
    color: var(--site-primary-color);
    font-size: -1rem;
    font-weight: bold;
    width: 70px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

[class*="-button"]:hover {
    background-color: var(--site-main-darker);
}

.user-dashboard-controls {
    padding: 0 10px 10px;
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.user-identity {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-photo-large > img {
    width: 50px;
    height: auto;
}

.user-info {
    font-weight: bold;
}

.greeting {
    font-size: 10px;
}

.dash-content-controls {
    grid-column: 2/3;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

.main-content {
    grid-column: 2/3;
    gap: 10px;
    background-color: var(--site-secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    font-family: 'jost regular', Arial, Helvetica, sans-serif;
}

.project-name,
.announcement-name {
    font-weight: bold;
}

.projects-label {
    grid-row: 1/2;
    font-weight: bold;
    justify-self: start;
}

.user-projects {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 25px 1fr;
    margin: 0 10px;
}

.the-projects {
    grid-column: 1/2;
    display: grid;
    gap: clamp(10px, 2%, 50px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
}

.project {
    text-align: start;
    border: none;
    border-radius: 15px;
    background-color: var(--site-primary-color);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: grid;
    gap: 5px;
    grid-template-columns: 10px 1fr;
    box-sizing: border-box;
}

.leftbar {
    background-color: var(--site-accent-color);
}

.rightbar {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 10px;
}

.main-content-sidebar {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 0 10px 0 0;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
}

.announcements-label {
    grid-row: 1/2;
    font-weight: bold;
}

.the-announcements {
    grid-row: 2/3;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--site-primary-color);
}

.trending {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
}

.trending-user-avatar-svg {
    width: 30px;
    height: auto;
}

.trending-user-name {
    font-weight: normal;
}

.trends-label {
    grid-row: 1/2;
    font-weight: bold;
}

.the-trends {
    grid-row: 2/3;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--site-primary-color);
}

.trend {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.trend-text > p {
    margin: 5px;
}

.the-announcements,
.the-trends {
    padding: 20px;
}